{% extends "base.html" %}
{ block title %}Login{% endblock %}
{ block header %}Login{% endblock %}
{% block content %}
<form method="POST" action="{{ url_for('login') }}"
  {{ form.hidden_tag() }}
  <p>
    <label for=""username">Username</label>><br />
    {{ form.username(size=32) }}
    </p>
    <p>
        <label for="password">Password</label><br />
        {{ form.password(size=32) }}
    </p>
    <p><input type="submit" value="Submit" /> </p>
</form>
<a href=""{{ url_for('register') }}">Register</a>"
{% endblock %}