{% extends "base.html" %} {% block title %}Task List{% endblock %} {% block header %}Task List{% endblock %} {% block content %}
<ul id="task-list" class="mt-4 list-group">
  {% for task in tasks %}
  <li class="list-group-item">
    <strong>{{ task.title }}</strong><br />
    {{ task.contents }}<br />
    등록일: {{ task.input_date.strftime('%Y-%m-%d') }}<br />
    마감일: {{ task.due_date.strftime('%Y-%m-%d') }}<br />
    <a href="{{ url_for('edit_task', task_id=task.id) }}" class="btn btn-secondary btn-sm ml-2">Edit</a>
    <a href="{{ url_for('delete_task', task_id=task.id) }}" class="btn btn-danger btn-sm ml-2">Delete</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
