<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Task List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>

  </head>
  <body>
    <div class="section1"></div>
    <div class="section2"></div>
    <div class="section3"></div>
    <h1>Task List</h1> 
    <form method="POST" action="/">
      <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
      <p>
        <label for="title">제목</label><br />
        <input type="text" name="title" id="title" size="32" required />
      </p>
      <p>
        <label for="contents">내용</label><br />
        <textarea name="contents" id="contents" rows="4" required></textarea>
      </p> 

      <p>
        <label class="haha" for="due_date" >마감일</label><br />
        <input type="date" name="due_date" id="due_date" required />
      </p>
      <p><input type="submit" value="Add Task" />
      </p>
    </form>
    <ul id="task-list">
      <!-- Task items will be populated here by JavaScript -->
    </ul>
    <div class="section4"></div>
    <div class="section5"></div>
    <div class="section6"></div>
  </body>
</html>
