
body{
font-family: Arial, sans-serif;
margin: 20px;
background-color:#e0f7fa;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
color:rgb(11, 138, 53);
text-align: center;

}
p{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form{
margin-bottom: 20px;

background: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 4px 10px rgba(0,0,0,0.5);

margin-left: auto;
margin-right: auto;
max-width: 600px;

}
label{
font-weight: bold;
}
input[type="text"]{
width: 98%;
padding: 8px;
margin: 10px 0;
border: 1px solid #ccc;
border-radius: 4px;
}
input[type="date"]{
width: 98%;
padding: 8px;
margin: 10px 0;
border: 1px solid #ccc;
border-radius: 4px;
}
textarea{
width: 98%;
padding: 8px;
margin: 10px 0;
border: 1px solid #ccc;
border-radius: 4px;

}   
input[type="submit"]{
background-color: #4caf50;
color: white;
padding: 10px 15px;
border: none;
border-radius: 4px;
cursor: pointer;

}
input[type="submit"]:hover{
background-color: #45a049;
}
ul{
list-style-type: none;
padding: 0;
}
li{

margin: 10px 0;
padding:15px;
border-radius: 5px;
margin-left: auto;
margin-right: auto;
max-width: 600px;

}

