<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Task List</title>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
          fetch("/tasks")
            .then((response) => response.json())
            .then((tasks) => {
              const taskList = document.getElementById("task-list");
              tasks.forEach((task) => {
                const li = document.createElement("li");
                li.textContent = task.title;
                
                const editLink = document.createElement("a");
                editLink.href = `/edit/${task.id}`;
                editLink.textContent = "Edit";
                li.appendChild(editLink);

                const deleteLink = document.createElement("a");
                deleteLink.href = `/delete/${task.id}`;
                deleteLink.textContent = "Delete";
                li.appendChild(deleteLink);               
  
                taskList.appendChild(li);
              });
            });
        });
      </script>
</head>
<body>
    <h1>Task List</h1>
    <form method="POST" action="/">
        <input type="hidden" name="csrf_token" value="{{ form.csrf_token._value()}}"/>
        <p>
            <label for="title">Title:</label>            
            <input type="text" name="title" id="title" size="32" required />
        </p>
        <p><input type="submit" value="Add Task"/></p>
    </form>
    <ul id="task-list">
          
    </ul>    
</body>
</html>